body{
    background-color: rgb(255, 250, 224);
}
.navbar *{
    list-style: none;
    position: relative;
}
.navbar-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.login{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
.home{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
.menu{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
